body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1em;
}
header h1 {
    margin: 0;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-right: 1em;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
main {
    padding: 1em;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ccc;
}
th, td {
    padding: 0.5em;
    text-align: left;
}
button {
    padding: 0.5em 1em;
    margin-0.2em;
    cursor: pointer;
}
